body, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  height: 100%;
  background-image: url('imagens/fundo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

img {
  display: block;
  max-width: 100%;
}

.background {
  background-color: #f0f0f0;
}


.slide-wrapper {
  overflow: hidden;
  margin-top: 150px;
}

.slide {
  display: flex;

}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;

  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: center;
  gap: 50px;

}

.prev, .next {
  font-size: 3rem;
  padding: 8px 12px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  user-select: none;
}

@media (max-width: 768px) {
  .minha-coluna {
    width: 50%; /* Ocupa metade da largura em telas maiores */
  }
}