body, ul, li, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.background {
  background-color: #f0f0f0;
}

body {
  height: 100%;
  background-image: url('imagens/fundo.jpg');
  background-size: cover;        /* Faz a imagem cobrir toda a tela */
  background-position: center;   /* Centraliza a imagem */
  background-attachment: fixed;  /* TRUQUE: faz ela ficar fixa */
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden;
  display: flex;
  margin-top: 150px;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;

  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}